@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/DroidSerif-Bold.ttf') format('truetype'),
         url('../fonts/DroidSerif-BoldItalic.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic.ttf') format('truetype'),
         url('../fonts/DroidSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('../fonts/brush-script-mt-kursiv.ttf') format('truetype'),
         url('../fonts/BRUSHSCI.ttf') format('truetype');
}

