@import 'variables.scss';
@import 'base.scss';
@import 'grid.scss';
@import 'font-faces.scss';


.blog-title {
    font-family: $font-head;
    font-size: 72px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.header {
    .topnav {
        background-color: $primary-color;
        .container {
            height: 113px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
    }
}
.logo {
    justify-content: flex-start;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    a {
        color: $bg-color;
        text-transform: uppercase;
    }
}

.menu {
    justify-content: flex-end;
    li {
        display: inline-block;
        position: relative;
        a {
            line-height: 24px;
            text-align: center;
            padding: 30px 15px;
            color: $bg-color;
            &:hover {
                color: #c3917d;
            }
        }
    }
}
#main {}
.container {
    .block {
        padding: 100px 0;
        .blog-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 40px;
        }
        h2{
            font-size: 14px;
            text-align: center;
        }
    }
}
.blog-info {
    display: flex;
    justify-content: center;
    li {
        padding: 18px;
        span {
            padding-right: 10px;
        }
    }
}
.blog-text{
    line-height:24px;
    margin: 20px 0 30px 0;
}
.container {
    .row {
        .content {
            .image-content {}
            .post-text {
                .para {
                    padding: 35px 0 0 0;
                }
            }
        }
    }
}
.para-text {
    width: 100%;
    padding-left: 20px;
    margin-top: 35px;
    border-left: 3px solid $but-color;
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    line-height: 30px;
}
.para-list {
    margin: 35px 0 0 60px;
    li {
        padding-left: 20px;
        margin: 13px 0;
        position: relative;
        &::before {
            content: '';
            width: 5px;
            height: 5px;
            background-color: $but-color;
            position: absolute;
            top: 7px;
            left: 0;
        }
    }
}
.tag-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    .tag {
        justify-content: flex-start;
        flex-grow: 1;
        font-size: 13px;
        a {
            color: $text-color;
            &:after {
                content: ',';
                color: $text-color;
            }
            ;
        }
        .tag-active {
            color: $but-color;
        }
        ;
    }
    .social {
        .social-tag {
            color: $text-color;
            font-size: 16px;
            span {
                padding-left: 12px;
            }
            &.active, &:hover {
                color: $black-color;
            }
        }
    }
}
.athour-box {}
.comment-item {
    display: inline-block;
    background-color: $bg-color;
    padding: 30px 0;
    border: 1px solid $text-color;
    border-right: none;
    border-left: none;
}
.comment-avatar {
    float: left;
    width: 80px;
    margin-right: 20px;
}
.comment-content {
    float: left;
    width: calc(100% - 100px);
    .comment-info {
        display: flex;
        margin: 15px 0;
        .comment-author {
            justify-content: flex-start;
            flex-grow: 1;
            font-weight: 700;
        }
        .social-athour {
            display: inline-flex;
            float: right;
            .post-meta-item {
                padding-left: 12px;
                font-size: 16px;
                span {
                    color: $text-color;
                    &:hover {
                        color: $black-color;
                    }
                    ;
                }
            }
        }
    }
    .comment-text {
        color: $text-color;
    }
}
.comments {
    border-bottom: 1px solid $text-color;
}
.comment-total-title {
    font-size: 16px;
    font-weight: bold;
    padding: 30px 0 15px 0;
}
.comment-list {
    .comment-item {
        @extend .comment-item;
        border: none;
        border-top: 1px solid #f9f9f9;
        .comment-con {
            @extend .comment-item;
            padding-left: 30px;
            padding-bottom: 0;
        }
        .comment-time {
            color: $text-color;
            padding: 10px 0 20px 0;
            font-size: 12px;
            font-style: italic;
        }
        .comment-text {
            color: $black-color;
            margin-bottom: 30px;
        }
    }
}
.comment-form {}
.comment-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    padding: 15px 0;
}
.form-comment {
    margin-bottom: 100px;
    label {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        p {
            color: $text-color;
            width: 100px;
        }
        input {
            border-radius: 3px;
            border: 1px solid #e5e5e5;
            background-color: $bg-color;
            width: 270px;
            height: 35px;
        }
        textarea {
            @extend input;
            width: 810px;
            height: 161px;
        }
    }
    button {
        font-family: 'Roboto';
        color: $text-color;
        line-height: 24px;
        padding: 6px 30px;
        border-radius: 30px;
        border: none;
        background-color: #f3f3f3;
        margin-top: 15px;
        cursor: pointer;
        &:hover{
            color: #c3917d;
            font-weight: bold;
            background-color: $primary-color;
        }
    }
}
/*-Blog -grid site*/
.blog{
    img{
        opacity: 0.8;
        transition-duration: 0.3s;
        rotate
        &:hover{
            opacity: 1;
        }
    }
}
.blog-post{
    margin: 30px 0;
}
.blog-post-title{
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
}

.blog-info.blog{
    color: $body-color;
    font-family: $font-stack;
    justify-content: flex-start;
    li{
        padding: 0 30px 0 0;
    }
}
.blog-follow {
    text-align: center;
    padding: 50px 10px;
    border: 1px solid $body-color;
    margin: 20px 0;
    .link-follow{
        color: $body-color;
        font-style: italic;
        span{
            margin-right: 10px;
        }
    }
}
.blog-follow-title{
    font-size: 18px;
    font-family: DroidSerif;
    line-height: 27px;
    font-style: italic;
    text-align: left;
    margin: 20px;
}

.blog-load{
    text-align: center;
    margin-bottom: 100px;
} 
.button-load, .button-load a{
    color: $bg-color;
    background-color: $but-color;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
button.button-load.fa.fa-spinner{
    padding: 13px 27px;
}


/*Slide-bar*/ 
.slide-bar{

}
.search-box{
    .title{
        margin-top: 0;
    }
}
.title{
    font-family: $font-stack;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 35px;
}
.search-form{
    position: relative;
    input{
        width: 300px;
        height: 40px;
        border: 1px solid $body-color;
        padding-left: 20px;
        color: $body-color;     
    }
    .search-button{
        position: absolute;
        width: 18px;
        height: 18px;
        top: 10px;
        margin-left: -30px;
        border: none;
        background-color: $bg-color;
    }
} 

.list-category, .rec-post{
    li{
        position: relative;
        padding-left: 15px;
        margin: 10px 0;
        &:hover:before{
            background-color: $black-color;
        }
        &:before{
            content: '';
            width: 8px;
            height: 2px;
            background-color: $body-color;
            display: inline-block;
            position: absolute;
            top: 8px;
            left: 0;
        }
        a{
           color: $body-color;
           &:hover{
                color: $black-color;
           }
        }
    }
}

.calendar{
    margin-bottom: 50px
}

.calender-table.hasDatepicker{
    border: 1px solid #e6e6e6;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{

}
table.ui-datepicker-calendar{
    width: 100%;
    thead{
        border: 1px solid #e6e6e6;
        background-color: #f5f5f5;
    }
    tbody{
        tr{
            text-align: center;
            height: 35px;
        }
    }
    td.ui-datepicker-today{
        border: 1px solid #7f7f7f;
        border-radius: 50%;
        background-color: #f5f5f5;
    }
}

a.ui-datepicker-next.ui-corner-all, span.ui-icon.ui-icon-circle-triangle-w{
    display: none;
}
.ui-datepicker-title{
    text-align: center;
    padding: 20px 0;
}

/*Footer*/ 
.footer {
    padding: 40px 0 0 0;
    background-color: $primary-color;
    .footer-widget {
        .container{
            text-align: center;
            .footer-logo{
                h2{
                    color: #f3f3f3;
                    margin: 15px 0 25px 0;
                }
                p{
                    color: #7b8189;
                    line-height: 24px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.footer-quick-link{
    padding: 40px 0 70px 0;
    border-bottom: 1px solid $ft-color;
    .quick-link{
        color: $but-color;
        span{
            margin-left: 20px;
        }
        strong{
            margin-left: 5px;
        }
    }
}
.ft-end{
    background-color: $ft-color;
    border-top: 1px solid #262626;
    padding-bottom: 60px;
    text-align: center;
}
.ft-copyright{
    .social-ft{
        margin-top: 50px;
        margin-bottom: 30px;
        .socialft{
            color: #252525;
            background-color: #a57c6b;
            padding: 5px 8px;
            border-radius: 3px;
            margin-left: 8px;
        }
    }
    .copyright{
        color: #616161;
        span{
            color: $but-color;
        }
    }
}

@media ( max-width: 375px ) {
    .blog-title {
        text-align: center;
        font-size: 60px;
        line-height: 33px;
    }
    .container .block .blog-info li{
        padding: 5px;
    }
}

@media ( max-width: 992px ) {
    .blog, .slide-bar{
        margin: 0 10%;
    }

    .blog-title{
        font-size: 50px;
        line-height: 40px;
    }

    .calendar{
        width: 50%;
    }
}

@media ( min-width: 991px ) {
}

/*---------------------------------------------------------------------------Menu mobile------------------------------------------------------------------------------------*/
.toggle-menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    background-color: transparent;
    color: $bg-color;
    cursor: pointer;
    border: none;
}
.menu-overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba( 0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: 0.3s;
}
.mobile-open .menu-overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*------------------------------------------------------Menu mobile Responsive 992px-----------------------------------------------*/

@media ( min-width: 992px) {
    .toggle-menu-btn, .button-close {
        display: none !important;
    }
}

.btn-close {
    color: #c3917d;
    background: $bg-color;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    left: -40px;
    cursor: pointer;
    pointer-events: none
}
/*---------------------------------------------------------Menu mobile Responsive 991px-----------------------------------------------*/

@media ( max-width: 991px) {
    .topnav .menu {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 260px;
        z-index: 100;
        background: $bg-color;
        color: $black-color;
        transform: translateX( 100%);
        transition-duration: 0.3s;
    }
    .mobile-open .topnav .menu {
        transform: translateX( 0);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    .topnav .menu a {
        border-bottom: 2px solid #565f65;
        text-align: left;
        display: block;
        padding: 10px 30px;
    }
    .menu {
        li {
            display:block;
            a {
                line-height: 24px;
                text-align: center;
                padding: 15px;
                color: $black-color;
                &:hover {
                    color: #c3917d;
                }
            }
        }
    }
    .topnav .menu li:before {
        content: none;
    }
}