$font-head: 'Brush Script MT';
$font-stack: 'DroidSerif';
$primary-color: #222;
$body-color: #bababa;
$but-color: #c3917d;
$text-color: #aeaeae;
$bg-color: #fff;
$black-color: #000;
$ft-color: #1f1f1f;